compositor=x11
tcp_con=bbr
qdisc=fq_codel
country=00
dns1=1.1.1.1
dns2=1.0.0.1
dns61=2606:4700:4700::1111
dns62=2606:4700:4700::1001
qdisc=fq_codel
sched=bfq
hdsched=bfq
sdsched=bfq
txqueuelen=128
mtu=1500
beacons=50
governor=performance
frag=2346
rts=2347
txpower=auto
pwsrsave=off
distance=10
thp=madvise
loglevel=5
idle=nomwait
maxcstate=9
list1=
list2=
list3=
rawlink=https://raw.github.usercontent.com/thanasxda/basic-linux-setup/master/init.sh
duplex=full
rx=4096
tx=4096
morethanmedium=on
mitigations=on
bluetooth=off
ipv6=off
nobarrier=on
ksm=0
microcode=off
raid=no
lvm=no
crypt=no
autoneg=on
fl=on
script_autoupdate=no
audit=0
webcam=yes
