[Desktop Entry]
Comment=A translucent theme for Plasma 5
Name=Glass-Plasma
X-KDE-PluginInfo-Author=Jose Manuel López
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=joselp@disroot.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GLP V3.0
X-KDE-PluginInfo-Name=Glass-Plasma
X-KDE-PluginInfo-Version=0.2
X-Plasma-API=5.0
