[Desktop Entry]
Name=MalakasUniverse
X-KDE-PluginInfo-Name=MalakasUniverse
X-KDE-PluginInfo-Author=thanasxda
X-KDE-PluginInfo-Email=15927885+thanasxda@users.noreply.github.com
X-KDE-PluginInfo-License=LGPLv3
