[Desktop Entry]
Encoding=UTF-8
Keywords=
Icon=preferences-desktop-wallpaper
Name=Reddit wallpaper

Type=Service

X-KDE-ServiceTypes=Plasma/Wallpaper
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=kyle
X-KDE-PluginInfo-Email=kyle.a.paulsen@gmail.com
X-KDE-PluginInfo-Name=com.kylepaulsen.kderedditwallpaper
X-KDE-PluginInfo-Version=2
X-KDE-PluginInfo-Website=https://github.com/kylepaulsen/reddit-wallpaper-plasma
X-Plasma-MainScript=ui/main.qml

MimeType=image/jpeg;image/png;image/svg+xml;image/svg+xml-compressed;image/bmp;
X-Plasma-DropMimeTypes=image/jpeg,image/png,image/svg+xml,image/svg+xml-compressed,image/bmp
